<html>
    <head>
        <meta charset="utf-8">
        <title>Demo Chat</title>
        <link rel="stylesheet" href="layout.css">
        <script src="jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="xuly.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="loginForm">
                <h3>WHAT'S YOUR NAME?</h3>
                <input type="text" id="txtUsername" />
                <button type="button" id="btn-register">Register</button>
            </div>

            <div id="chatForm">
                <div id="left">
                    <div id="boxTitle">Users online</div>
                    <div id="boxContent">
                        
                    </div>
                </div>
                <div id="right">
                    <div id="sayHi">
                        Hello <span id="currentUser">Dai</span>
                        <button type="button" id="btnLogout">Logout</button>
                    </div>
                    <div id="listMessages">

                    </div>
                    <div id="thongbao"></div>
                    <input type="text" id="txtMessage" />
                    <button type="button" id="btnSendMessage">Send</button>
                </div>
            </div>
        </div>
    </body>
</html>